
.header-title{
  background-color:#faebd7;
  border-bottom: 25px solid #ff8c00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.lists-right{
  list-style: none;
}

.logout{
  padding-top:10px ;
}

