
body{
  margin: 0px;
  padding: 0px;
  background-color: #faebd7;
}

.share-image{
  padding-left: 20px;
}

.login-all{
  display: flex;
  justify-content:center;
  position: absolute;
  left: 450px;
  top:300px ;
  background-color: #faebd7;
  border: black solid 4px;
}


.log-in{
  padding: 50px;
}

.login-title{
  padding: 50px;
}

.field{
  font-size: 20px;
  font-weight: 600;
}

.right-image{
  display: flex;
  justify-content:center;
}