h3{
  padding-left: 20px;
}
.user-profile{
  background-color:#faebd7 ;
  width: 100vw;
  overflow: auto;
  border-bottom: 25px solid #ff8c00;
  display: flex;
  justify-content: space-between;
}

.name-profile{
  padding-left: 30px;
}

.users-iine{
  padding: 30px 50px;
}

.contents_row{
  overflow: auto;
  background-color:#faebd7 ;
  height: 100vh;
}

